<div class="row">

    <h1 class="display-3" style="text-align: center; margin-top: .5em;">Sign Up</h1>

    <div class="col-xs-12">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="row" 
            style="display: flex;
            align-items: center;
            justify-content: center; text-align: center; margin: 1.5em;">
                <div class="col-xl-4">
                    <label for="name">Name</label>
                    <input 
                    type="text"
                    id="name"
                    formControlName="name"
                    class="form-control">
                </div>

                <div class="col-xl-4">
                    <label for="email">Email</label>
                    <input 
                    type="text"
                    id="email"
                    formControlName="email"
                    class="form-control">
                </div>
            </div>

            <div class="row" 
            style="text-align: center;">
                <div class="col-xl-12" style="margin: 1em;">
                    <label for="addressLine1" style="margin: 1em;">Address Line 1</label>
                    <input 
                    type="text"
                    id="addressLine1"
                    formControlName="addressLine1"
                    class="form-control">
                </div>

                <div class="col-xl-12" style="margin: 1em;">
                    <label for="addressLine2" style="margin: 1em;">Address Line 2</label>
                    <input 
                    type="text"
                    id="addressLine2"
                    formControlName="addressLine2"
                    class="form-control">
                </div>
            </div>

            <div class="row" 
            style="display: flex;
            align-items: center;
            justify-content: center; text-align: center; margin: 2em;">
                <!-- <div class="col-xl-4">
                    <label for="country">Country</label>
                    <input 
                    type="text"
                    id="country"
                    formControlName="country"
                    class="form-control">
                </div> -->
                <select 
                name="country" 
                id="country"
                formControlName="country"
                class="form-select"
                style="text-align: center; margin-bottom: 2em;"
                #country
                (change)="onChangeCountry($event)">
                    <option *ngFor="let country of countries | keyvalue" [value]="country.key">
                {{country.key}}
                </select>
                
                <label for="mobileNo">Mobile No</label>

                <div class="col-xl-12">
                    <input style="float: left; width: 10%; text-align: right; margin-left: 11em;" 
                            formControlName="mobileNoPrefix"
                            class="form-control">
                    <input 
                    type="number"
                    id="mobileNo"
                    formControlName="mobileNo"
                    class="form-control"
                    style=" width: 60%; margin-right: 12em; margin-left: 1em;">
                </div>

            </div>

            <div class="row" 
            style="display: flex;
            align-items: center;
            justify-content: center; text-align: center; margin: 2em;">
                <div class="col-xl-4">
                    <label for="password">Password</label>
                    <input 
                    type="password"
                    id="password"
                    #pass
                    formControlName="password"
                    class="form-control">
                </div>

                <div class="col-xl-4">
                    <label for="confirmPassword">Confirm Password</label>
                    <input 
                    type="password"
                    #cpass
                    id="confirmPassword"
                    formControlName="confirmPassword"
                    class="form-control">
                </div>
            </div>

            <div class="row" 
            style="display: flex;
            align-items: center;
            justify-content: center; text-align: center; margin: 2em;">
                <button 
                type="submit" 
                class="btn btn-success"
                [disabled]="!(signupForm.valid && cpass.value === pass.value)"
                >Register</button>
            </div>
            <div class="alert alert-danger" *ngIf="!(cpass.value === pass.value)" role="alert">
                <p style="text-align: center;"> Password Does Not Match!!</p>
            </div>

        </form>
    </div>
</div>
