<div class="row" style="margin-top: 5em">

    <h1 class="display-2" >Login</h1>

    <div class="col-xs-12" style="width: 70%; margin: 4em;">
    
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12" style="padding: 1em;">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input 
                        type="text"
                        id="email"
                        #email
                        formControlName="email"
                        class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" style="padding: 1em;">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input 
                        type="password"
                        id="password"
                        #pass
                        formControlName="password"
                        class="form-control">
                    </div>
                </div>
            </div>

            <button 
            type="submit" 
            class="btn btn-success"
            style="margin: 1em;"
            [disabled]="!userForm.valid"
            >Login</button>

            <a class="link-info" [routerLink]="['/register']" routerLinkActive="router-link-active" >Signup</a>

        </form>

        <div class="row">
            <div class="alert alert-danger" *ngIf="authCheck === false" role="alert">
                <p style="text-align: center;">Invalid User Or Password!!</p>
            </div>
        </div>
    </div>
</div>